.logo_image {
    display: block;
    margin: 0px auto;
    text-align: center;
    height: 100%;
    width: 100%;
    
}

.banner_image {
    height: 100%;
    width: 150%;
    margin: 0px auto;
    text-align: center;
}