@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.logo_image {
    display: block;
    margin: 0px auto;
    text-align: center;
    height: 100%;
    width: 100%;
    /* filter: invert(100%); */
}

.banner_image {
    height: 50%;
    width: 150%;
    margin: 0px auto;
    text-align: center;
}

.bio_image {
    
    width: 25%;
}

body {
    background-color: black;
    color: aliceblue;
}

p {
    font-size: small;
}

ul {
    list-style: none;
    color: skyblue;
}

body {
    font-family: 'Press Start 2P', cursive;
}

.shoefiti_link {
    padding-top: 2px;
}

.pinkcolor {
    color: skyblue;
}